:root {
  --soft-black: #212121;
  --soft-gray: #c4c4c4;
  --light-gray: #e5e5e5;
  --txt-color: #424242;
  --light-txt-color: #616161;
  --footer-color: #212429;
  --soft-blue: #4a00e0;
  --purpple: #8e2de2;
  --bg-blue: #5551ff;
}
html {
  scroll-behavior: smooth;
  /* min-inline-size: 100vw; */
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: var(--soft-black);
  font-weight: 400;
}
h1 {
  font-size: 16px;
}
/* details summary::-webkit-details-marker {
  display: none;
} */
summary {
  /* color: var(--light-txt-color); */
  font-weight: 700;
}
details {
  /* color: var(--light-txt-color); */
}
img {
  max-inline-size: 100%;
}
ol li {
  padding-block: 10px;
}
nav ol li {
  list-style: none;
  counter-increment: custumBullets;
}

ul li {
  margin-block: 16px;
}
nav ol li::before {
  content: counter(custumBullets) '. ';
}
hr {
  margin-block: 64px;
}
.header-content {
  padding-block-start: 20px;
  padding-inline: 10px;
}
pre {
  margin-block-start: 16px;
  margin-block-end: 40px;
  padding-block: 40px;
  padding-inline: 40px;
  /* background-color: var(--light-gray); */
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  overflow: auto;
  text-align: initial;
  border: 8px solid var(--bg-blue);
  box-shadow: -10px 10px 0 #87a6e3;
}
.hero {
  inline-size: 100%;
  block-size: 100px;
  background: linear-gradient(
      274.51deg,
      rgba(74, 0, 224, 0.6) 5%,
      rgba(142, 45, 226, 0.5) 130.61%
    ),
    url(../img/patron-2.svg);
}
.section-content img {
  display: block;
  margin: 0 auto;
}
.section-content p span {
  color: var(--bg-blue);
}
.section-content h3 {
  margin-block: 16px;
}
.section-content h2 {
  margin-block-end: 40px;
  font-weight: normal;
  color: var(--soft-black);
  font-size: 32px;
}
.section-content p {
  margin-block: 16px;
  line-height: 24px;
}
.main-title {
  font-size: 32px;
}
.main-description {
  margin-block-end: 50px;
  line-height: 24px;
}
nav ol li {
  /* background-color: var(--bg-blue); */
  padding-inline-start: 10px;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}
.main-content {
  padding: 20px;
  text-align: center;
}
.quote {
  text-align: initial;
  margin-inline: 0;
  margin-block: 40px;
  padding-inline-start: 16px;
  border-inline-start: 4px solid var(--bg-blue);

  font-size: 16px;
}
.quote p {
  margin-block-end: 16px;
  line-height: 32px;
}
.quote p span {
  color: var(--soft-black);
}
.quote p span::before {
  content: '- ';
}
.third-section h3,
.box-model-content h3 {
  margin-block-start: 20px;
}
.box-model-content {
  text-align: initial;
}
.box-model-content h3 {
  font-weight: 400;
  font-size: 24px;
  color: var(--txt-color);
}
.section-contact p {
  margin-block: 40px;
}
.section-contact p a {
  color: var(--txt-color);
  text-decoration: underline;
}
.section-contact h3 {
  font-weight: normal;
  /* text-align: center; */
  font-size: 24px;
}
form {
  position: relative;
  margin-block-end: 80px;
}

.form-field {
  inline-size: 100%;
  block-size: 48px;
  margin-block: 10px;
  padding-inline-start: 20px;
  border-radius: 90px;
  border: 1px solid var(--light-txt-color);
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
button {
  inline-size: 100%;
  inset-inline-end: 250px;
  block-size: 52px;
  border-radius: 90px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-blue);
  color: #ffff;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
footer {
  inline-size: 100%;
  block-size: 170px;
  background-color: var(--footer-color);
}
footer p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-block-start: 48px;
}
.section-contact {
  text-align: initial;
}
.box-model-content ul {
  list-style: none;
  box-sizing: border-box;
}
.box-model-content ul li::before {
  content: '•';
  color: var(--bg-blue);
  font-weight: bold;
  display: block;
  width: 8px;
  height: 5px;
  font-size: 25px;
  margin-top: 1em;
  margin-left: -1em;
}

.bullets-lists {
  text-align: center;
  margin-block: 16px;
}
.bullets-lists a {
  display: inline-block;
  inline-size: 16px;
  block-size: 16px;
  border-radius: 100px;
  cursor: pointer;
  margin-inline: 8px;
  background-color: #616161;
}
.slide-content {
  margin-block: 50px;
  margin-inline: 16px;
}
.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider-item img {
  margin: 0;
  display: inline-block;
  inline-size: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
  .quote {
    inline-size: 70%;
    margin: auto;
  }
  .hero {
    block-size: 350px;
  }
  .main-title {
    font-size: 60px;
  }
  .main-description {
    margin-block-start: 16px;
    margin-block-end: 96px;
  }
  .quote {
    margin-block: 80px;
    font-size: 24px;
  }
  .third-section h3,
  .box-model-content h3 {
    margin-block-start: 40px;
  }

  footer p {
    font-size: 32px;
  }
}
@media screen and (min-width: 1000px) {
  .form-field {
    inline-size: 35%;
    margin-inline-end: 10px;
  }
  button {
    position: absolute;
    inset-block-start: 9px;
    inset-inline-end: 230px;
    width: 15%;
  }
  .quote {
    margin-block: 80px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header-content {
    position: relative;
    inset-block-end: 0;
    /* inset-inline-end: 0; */
  }
  .header {
    position: sticky;
    inset-block-start: 0;
  }
  header {
    width: 210px;
    position: absolute;
    inset-inline-end: -230px;
    inset-block-start: 50px;
  }
  nav ol li:hover {
    cursor: pointer;
    background: var(--bg-blue);
    transition: 0.5s ease-in-out;
  }
  nav ol li:hover::before {
    color: #fff;
  }

  nav ol li:hover a {
    color: #fff;
  }
}
